<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tdc.edu.vn.project">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Screen.GioHangActivity">
        </activity>
        <activity android:name=".Screen.ChiTietDonHang" />
        <activity android:name=".Screen.ChonNguoiGiaoScreen" />
        <activity android:name=".etc.ThongTinNguoiDung" />
        <activity android:name=".etc.ThongTinTaiKhoan2"></activity>
        <activity android:name=".Screen.ThongTinUser" />
        <activity
            android:name=".Screen.GioHangActivity2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name=".FragmentMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Screen.GiaoDichScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".etc.QuenMatKhau" />
        <activity android:name=".Screen.QuanLyDonHangNguoiBan">
        </activity>
      <activity android:name=".Screen.DanhGiaActivity"></activity>
        <activity android:name=".Admin.AdminHome"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".Screen.Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".InforUserActivity" />
        <activity
            android:name=".Screen.ChiTietThuCung"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Screen.DangKi"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Screen.NguoiDungScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Screen.NguoiBanScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Screen.ThemNguoiBan"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />



    </application>

</manifest>